{% load custom_tags %}

<body>
{% with object=None %}
{% endwith %}
<br/>
{% with group_fields=object.get_detail_fields %}
 {% for k,v in group_fields.items %} 
 {{ k }}: {{ v }},
 {% endfor %}
{% endwith %}

<!--
<br/>
Discussions:
<br/>
{{ group_discussions_list }}
-->
<br/>
Discussions directly from Model:
<br/>
{% with group_discussion_lister=object.get_group_discussions %}
{% for discussionid,discussionobj in group_discussion_lister %} 
{{ discussionid }},{{ discussionobj.name }}
<br/>
{% endfor %}
Discussions through ORM:
<br/>
{% for discussion in object.groupdiscussion_set.all %}
{{ discussion.id }},{{ discussion.name }}
<br/>
Messages:<br/>

{% for v in  discussion.groupdiscussionmessage_set.all %}
{{ v.id }},{{ v.raw_message }},{{ v.group_discussion }}<br/>
{% endfor %}


<a href='{% url new-group-discussion-message %}?link_pk={{discussion.id}}' >Post a message</a><br/>
{% endfor %}
{% endwith %}

<a href='{% url new-group-discussion %}?link_pk={{object.id}}' >Create Discussion</a>
	
	
</body>

