 {% if belongs_to %}
 	This Discussion Message belongs to a {% firstof belongs_to "Discussion" %}, whose primary key is {{ belongs_to|escape }} <br/> 
 {% else %}
 	This Discussion Message is an orphan. You cannot create a new message
 {% endif %}		
 
 {{ action_url }},{{ action }}
 
 <form action="{{ action_url }}" method='post'>
	<input name="raw_message" value="{{ raw_message }}" ></input>
	Message belongs to Group Discussion {% firstof belongs_to None %}:
	<input type="hidden" name='belongs_to' value="{{ belongs_to|escape }}" />
	{% if context_referrer %}
	<input type="hidden" name="context_referrer" value="{{ context_referrer }}" ></input>
 	<input type="hidden" name="context_referrer_id" value="{{ context_referrer_id }}" ></input>
	{% endif %}
	<button type="submit" name="submit_mode" value="{{action}}" >{{button}}</button>
	{% ifequal action "update" %}
	<button type="submit" name="submit_mode" value="delete" >Delete</button>
	{% endifequal %}
</form>
