{% extends "users/base.html" %}

{% block content %}
{% load url from future %}
{% load relationship_tags %}
{% load post_tags %}



<table>
	<tr><td valign="top" width="400">
		<b>{{user}}'s Profile</b>
		{%if add_user%}
		<a href="{%url 'app.users.views.request_connect' user.id%}">connect</a>
		{%endif%}
		<h3>About</h3>
		<ul>
			<li>{{user}}</li>
			<li>Date of Birth: {{user.dob}}</li>
		</ul>
		<b>Connections</b>
		<ul>
{%for conn in connections%}
<li>
<a href="{%url 'app.profile.views.view_profile' conn.user_slug%}">{{conn}}</a></li>
{%endfor%}
</ul>
</td>
<td valign="top" width="500">
	
	<form action="{% url 'app.users.posts.views.add_post' user.id %}" method="post">
	Write something:<br/>
	<textarea name="message"></textarea><input type="submit" value="Post" />
	</form>
	<br/><br/>
	<b><u>Recent Posts</u></b>
	<table>
	{%for post in posts%}
	<tr><td width="150">
		<a href="{%url 'app.profile.views.view_profile' post.user.user_slug%}">{{post.user}}</a>
		</td>
		<td width="350">{{post.message}}</td></tr>
		<tr><td colspan="2"><div style="float:right;font-size:11px;color:gray;">{{post.post_dt|display_date_in_words}}</div></td></tr>
		<tr><td></td>
			<td>
				<table width="300">
			{%for comment in post|comments%}
				<tr><td valign="top" width="150">
				<a href="{%url 'app.profile.views.view_profile' comment.comment_by.user_slug%}">{{comment.comment_by}}</a>
				</td><td>
				<div>{{comment.message}}</div>
				<div style="float:left;font-size:11px;color:gray;">{{comment.commented_dt|display_date_in_words}}</div>
				{%if comment.user.id == user.id%}
					<a href="{%url 'app.users.views.delete_comment' comment.id%}" style="float:right">delete</a>
				{%endif%}
				</td></tr>
			{%endfor%}
			</table>
<br/>
			<form method="post" action="{% url 'app.users.posts.views.post_comment' post.id %}">
				{{user}}<br/>
				<textarea name="comment" placeholder="write a comment"></textarea>
				<input type="submit" value="comment" />
			</form>			
		</td></tr>
	{%endfor%}
	</table>
</td></tr></table>
{%endblock%}